USE master;

DROP DATABASE \<DB name\>;

ALTER TABLE \<TB name\>

ALTER COLUMN \<column name\> type;

SElect convert(date, 'DD/MM/YY', 103);

Delete from \<table name\>;

\# Deletes all rows

select distinct \<col name\> from \<table name\>;

<span style="background-color: rgba(127, 127, 127, 0.1);">update</span>

\<table name\>

column\_name = replace(column\_name, 'old string', 'new string');

where

condition(for example is not null)

select LEFT(\<column name with string type\>, n) from \<table name\>;

\# takes substring of n letters from left

select substring(str, start, length) from ...;

select ...

order by ... asc|desc;